*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
